[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=r_vertical_text
X-Python-2-Compatible=false
Name=縦書きテキスト生成
Comment=縦書きテキストのSVGを生成してKritaに追加するプラグイン
Icon=text
Version=1.0